Repository RunanywhereAI/sdks: changes, and which pre-commit hooks are due for each by the changed paths.
All: ios-sdk-swiftlint, ios-app-swiftlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # Security - Gitleaks for credential detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Security checks
  - repo: local
    hooks:
      - id: security-check
        name: Security checks for credentials and sensitive data
        entry: scripts/security-check.sh
        language: script
        pass_filenames: false
        always_run: true

  # TODO Comments Check
  - repo: local
    hooks:
      - id: todo-issue-check
        name: Check TODOs have GitHub issue references
        entry: scripts/check-todos-hook.sh
        language: script
        pass_filenames: false
        always_run: true

  # Android Lint temporarily disabled due to compilation issues
  # - repo: local
  #   hooks:
  #     - id: android-sdk-lint
  #       name: Android SDK Lint
  #       entry: bash -c 'cd sdk/runanywhere-android && if [ -f "./gradlew" ] && [ -n "$ANDROID_HOME" -o -f "../../../local.properties" ]; then ./gradlew lint; else echo "Skipping Android lint (no gradle or SDK)"; exit 0; fi'
  #       language: system
  #       files: ^sdk/runanywhere-android/.*\.(kt|kts|java|xml)$
  #       pass_filenames: false

  # - repo: local
  #   hooks:
  #     - id: android-app-lint
  #       name: Android App Lint
  #       entry: bash -c 'cd examples/android/RunAnywhereAI && if [ -f "./gradlew" ] && [ -n "$ANDROID_HOME" -o -f "local.properties" ]; then ./gradlew :app:lint; else echo "Skipping Android lint (no gradle or SDK)"; exit 0; fi'
  #       language: system
  #       files: ^examples/android/RunAnywhereAI/.*\.(kt|kts|java|xml)$
  #       pass_filenames: false

  # SwiftLint for iOS SDK
  - repo: local
    hooks:
      - id: ios-sdk-swiftlint
        name: iOS SDK SwiftLint
        entry: bash -c 'cd sdk/runanywhere-swift && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
        language: system
        files: ^sdk/runanywhere-swift/.*\.swift$
        pass_filenames: false

  # SwiftLint for iOS App
  - repo: local
    hooks:
      - id: ios-app-swiftlint
        name: iOS App SwiftLint
        entry: bash -c 'cd examples/ios/RunAnywhereAI && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
        language: system
        files: ^examples/ios/RunAnywhereAI/.*\.swift$
        pass_filenames: false

# Configuration
default_language_version:
  python: python3

# Skip these hooks during CI
ci:
  skip:
    - android-sdk-lint
    - android-app-lint
    - ios-sdk-swiftlint
    - ios-app-swiftlint

arch
  sdk/runanywhere-swift/docs/ARCHITECTURE_V2.md
Due: none

small fix
  .claude/settings.local.json
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Tracking/PerformanceTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

Rearch - cleanup
  .claude/settings.local.json
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/ConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Services/NoOpGenerationAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Models/ConfigurationData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/AnalyticsConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/AnalyticsLevel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/ConfigurationData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/GenerationConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/RoutingConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/StorageConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Constants/SDKConstants.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceFactory.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceLifecycle.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Utilities/AsyncQueue.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Utilities/WeakCollection.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration/DefaultGenerationSettings.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

phase 2
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/DTOs/ConfigurationDTO.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/DTOs/ModelMetadataDTO.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/DTOs/TelemetryDTO.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/Entities/ModelMetadataData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/Entities/RepositoryError.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/Entities/SyncModels.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/Entities/TelemetryData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/DataSyncService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/Models/APIEndpoint.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/Services/APIClient.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Protocols/ConfigurationRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Protocols/GenerationAnalyticsRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Protocols/ModelMetadataRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Protocols/Repository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Protocols/TelemetryRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ConfigurationRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/GenerationAnalyticsRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ModelMetadataRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/TelemetryRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/Database/Protocols/DatabaseCore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/Database/Services/SQLiteDatabase.swift
Due: ios-sdk-swiftlint

moving the hardware under capabilities
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/DeviceCapabilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/ProcessorInfoExtensions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Protocols/HardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/BatteryMonitorService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/CapabilityAnalyzer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/GPUDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/HardwareDetectionService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/NeuralEngineDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/ProcessorDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/RequirementMatcher.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/ThermalMonitorService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

cleanup
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/BatteryInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Protocols/HardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/BatteryMonitorService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Hardware/HardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ConfigurationRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ModelMetadataRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/TelemetryRepositoryImpl.swift
Due: ios-sdk-swiftlint

moving around
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/ABTesting/ABTestRunner.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/ABTesting/TestAnalyzer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Benchmarking/BenchmarkExporter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Benchmarking/BenchmarkMetricsCollector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Benchmarking/BenchmarkRunner.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Configuration/ConfigurationManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Configuration/ConfigurationServiceProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Downloading/DownloadManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/ErrorRecovery/ErrorRecoveryStrategy.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/GenerationAnalytics/GenerationAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/ModelValidation/FormatDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/ModelValidation/MetadataExtractor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/ModelValidation/ModelValidator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Monitoring/PerformanceMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Profiling/MemoryProfiler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Progress/ProgressTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Storage/StorageAnalyzer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Storage/StorageCleaner.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Storage/StorageMonitoring.swift
Due: ios-sdk-swiftlint

Add foundational models and structures for compatibility and device capabilities
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Models/FrameworkCapability.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Models/ModelArchitecture.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Models/QuantizationType.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/ConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/InMemoryConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/DeviceInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/HardwareAcceleration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/HardwareConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/HardwareRequirement.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/ProcessorInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Lifecycle/Managers/ObserverRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Models/ExecutionTarget.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Models/RoutingDecision.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Models/RoutingReason.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Models/InferenceRequest.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Models/ThinkingTagPattern.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Common/QuantizationLevel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Common/RequestPriority.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Common/ResourceAvailability.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/ConfigurationData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Framework/LLMFramework.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Framework/ModelFormat.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Framework/TokenizerFormat.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Model/ModelCriteria.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Model/ModelInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Model/ModelInfoMetadata.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Compatibility/CompatibilityResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Lifecycle/ModelLifecycleProgressObserver.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/DataSyncService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Protocols/ModelMetadataRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Protocols/TelemetryRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ConfigurationRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ModelMetadataRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/TelemetryRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
Due: ios-sdk-swiftlint

Refactor SettingsView and update configuration handling
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
  examples/ios/RunAnywhereAI/scripts/build_and_run.sh
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Services/GenerationAnalyticsServiceImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/ConfigurationData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/DTOs/ModelMetadataDTO.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/DataSyncService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ConfigurationRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ModelMetadataRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/TelemetryRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

cleanup
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Add environment configuration support and logging enhancements
  examples/ios/RunAnywhereAI/RunAnywhereAI/Resources/RunAnywhereConfig-Debug.plist
  examples/ios/RunAnywhereAI/RunAnywhereAI/Resources/RunAnywhereConfig-Release.plist
  examples/ios/RunAnywhereAI/scripts/copy_environment_config.sh
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelLoading/Services/ModelLoadingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/ModelDiscovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Services/RoutingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/GenerationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Environment/EnvironmentConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Services/LoggingManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/docs/ENVIRONMENT_CONFIGURATION.md
Due: ios-sdk-swiftlint

cleanup
  examples/ios/RunAnywhereAI/DEPENDENCIES_TO_ADD.md
  examples/ios/RunAnywhereAI/FEATURES.md
  examples/ios/RunAnywhereAI/RunAnywhereAI/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Auth/KeychainServiceExtensions.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ConversationExporter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/DeviceInfoService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/HuggingFaceAuthService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/HuggingFaceDirectoryDownloader.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/KaggleAuthService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/KeychainService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelDownloadManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/BundledModelsService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Utils/DeviceCapabilities.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/CustomURLDialog.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Dashboard/Charts/DashboardCharts.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Dashboard/PerformanceDashboardView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/DeviceInfoView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/KaggleAuthView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/PerformanceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Settings/APICredentialsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAITests/RunAnywhereAITests.swift
  examples/ios/RunAnywhereAI/RunAnywhereAIUITests/RunAnywhereAIUITests.swift
Due: ios-app-swiftlint

more cleanup
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Models/AppTypes.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Models/ChatMessage.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ConversationStore.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/DeviceInfoService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/KeychainService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ModelDownloadManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Utilities/Constants.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/AnalyticsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/AddModelFromURLView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/SimplifiedModelsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizCardView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizInputView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizResultsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizSwipeView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Settings/SimplifiedSettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Storage/StorageView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Storage/StorageViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ChatMessageEnhanced.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Components/UnifiedModelDetailsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadConfirmationView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadProgressView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Settings/ModelURLSettingsView.swift
Due: ios-app-swiftlint

cleanup and adding plans
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/docs/README.md
  examples/ios/RunAnywhereAI/docs/SDK_CONSUMPTION_FLOWS.md
  examples/ios/RunAnywhereAI/docs/archive/TODOs_for_later.md
  examples/ios/RunAnywhereAI/docs/archive/legacy/init_plan.md
  examples/ios/RunAnywhereAI/docs/frameworks/README.md
  examples/ios/RunAnywhereAI/docs/frameworks/ios-llm-frameworks-guide.md
  examples/ios/RunAnywhereAI/docs/frameworks/swift-transformers.md
  examples/ios/RunAnywhereAI/docs/frameworks/tensorflow-lite.md
  examples/ios/RunAnywhereAI/docs/implementation/README.md
  examples/ios/RunAnywhereAI/docs/implementation/app-implementation-guide.md
  examples/ios/RunAnywhereAI/docs/implementation/architecture.md
  examples/ios/RunAnywhereAI/docs/implementation/executorch-ios-integration-guide.md
  examples/ios/RunAnywhereAI/docs/implementation/quickstart.md
  examples/ios/RunAnywhereAI/docs/models/README.md
  examples/ios/RunAnywhereAI/docs/models/bundled-models.md
  examples/ios/RunAnywhereAI/docs/models/download-guide.md
  examples/ios/RunAnywhereAI/docs/models/integration-guide.md
  examples/ios/RunAnywhereAI/docs/models/providers/huggingface.md
  examples/ios/RunAnywhereAI/docs/models/providers/kaggle.md
  examples/ios/RunAnywhereAI/docs/setup/foundation-models.md
  examples/ios/RunAnywhereAI/docs/setup/troubleshooting.md
  sdk/runanywhere-swift/docs/ARCHITECTURE.md
  sdk/runanywhere-swift/docs/ARCHITECTURE_COMPARISON.md
  sdk/runanywhere-swift/docs/ARCHITECTURE_V2.md
  sdk/runanywhere-swift/docs/PUBLIC_API_REFERENCE.md
  sdk/runanywhere-swift/docs/STRUCTURED_OUTPUT_GUIDE.md
  thoughts/shared/plans/devicekit-integration-plan.md
  thoughts/shared/plans/grdb-swift-integration-plan.md
  thoughts/shared/plans/llm-framework-lifecycle-analysis.md
  thoughts/shared/plans/llm-implementation-gaps-and-improvements.md
  thoughts/shared/plans/llm-unified-architecture-migration-plan.md
  thoughts/shared/plans/moya-swinject-integration-plan.md
  thoughts/shared/plans/quiz-feature-implementation-plan.md
  thoughts/shared/plans/runanywhere-sdk-package-recommendations.md
  thoughts/shared/plans/sample-app-framework-implementation-plan.md
  thoughts/shared/plans/sdk-integration-cleanup-plan.md
  thoughts/shared/plans/structured-output-implementation-plan.md
  thoughts/shared/plans/swift_transformers_integration.md
Due: ios-app-swiftlint

adding plans
  thoughts/shared/plans/aptabase-integration-plan.md
  thoughts/shared/plans/grdb-swift-integration-plan.md
  thoughts/shared/plans/pulse-integration-plan.md
  thoughts/shared/plans/quiz-feature-implementation-plan.md
  thoughts/shared/plans/runanywhere-sdk-package-recommendations.md
  thoughts/shared/plans/sigmaswiftstatistics-integration-plan.md
  thoughts/shared/plans/work-sequencing-plan.md
Due: none

Enhance database management and configuration
  .claude/settings.local.json
  .gitignore
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Manager/DatabaseConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Manager/DatabaseError.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Manager/DatabaseManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Manager/GRDBDatabaseAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Migrations/Migration001_InitialSchema.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Migrations/Migration002_AddIndexes.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
Due: ios-sdk-swiftlint

Add GRDB models for configuration, generation, and telemetry records
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/ConfigurationRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/GenerationRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/GenerationSessionRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/JSONHelpers.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/ModelMetadataRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/TelemetryRecord.swift
Due: ios-sdk-swiftlint

Refactor repositories to utilize GRDB and enhance database management
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/InMemoryConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Services/NoOpGenerationAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/DataSyncService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ConfigurationRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/GenerationAnalyticsRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ModelMetadataRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/TelemetryRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/Database/Protocols/DatabaseCore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/Database/Services/SQLiteDatabase.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Manager/GRDBDatabaseAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  thoughts/shared/plans/grdb-swift-integration-plan.md
Due: ios-sdk-swiftlint

Consolidate hardcoded values into SDKConstants and update repository implementations
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/DTOs/ConfigurationDTO.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Models/DTOs/ModelMetadataDTO.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ConfigurationRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/GenerationAnalyticsRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ModelMetadataRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/TelemetryRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Manager/DatabaseManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Migrations/Migration001_InitialSchema.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/ConfigurationRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/JSONHelpers.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/ModelMetadataRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/ModelUsageStatsRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/TelemetryRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Observations/ConfigurationObserver.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Constants/SDKConstants.swift
  thoughts/shared/plans/grdb-swift-integration-plan.md
Due: ios-sdk-swiftlint

Refactor ConfigurationData and remove legacy migration support
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Configuration/ConfigurationData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ConfigurationRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/GenerationAnalyticsRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Manager/DatabaseManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/JSONHelpers.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Observations/ConfigurationObserver.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
Due: ios-sdk-swiftlint

Integrate Moya and Swinject for network layer and dependency injection
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/API/Plugins/AuthenticationPlugin.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/API/Plugins/CostTrackingPlugin.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/API/Plugins/TelemetryPlugin.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/API/RunAnywhereAPI.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/Services/MoyaAPIClient.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/CapabilityAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/CoreAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/DataAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/ModelLoadingAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/NetworkAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/PublicAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/SDKAssembler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  thoughts/shared/plans/devicekit-integration-plan.md
Due: ios-sdk-swiftlint

Integrate Pulse framework for enhanced logging and performance monitoring
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/AlamofireDownloadService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Services/Pulse/PulsePerformanceLogger.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Services/MonitoringService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/Services/APIClient.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Logger/PulseSDKLogger.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Services/Pulse/PulseConfiguration.swift
  thoughts/shared/plans/pulse-integration-plan.md
Due: ios-sdk-swiftlint

update
  thoughts/shared/plans/pulse-integration-plan.md
Due: none

fixing build and adding singletn pattern for the logger
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/BatteryMonitorService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/ThermalMonitorService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Lifecycle/Services/LifecycleService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Monitors/MemoryMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/MemoryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelLoading/Services/ModelLoadingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Progress/Services/ProgressService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Services/RoutingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/API/Plugins/CostTrackingPlugin.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/API/Plugins/TelemetryPlugin.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/API/RunAnywhereAPI.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Network/Services/MoyaAPIClient.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/CapabilityAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/CoreAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/DataAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/ModelLoadingAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/NetworkAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/Assemblies/PublicAssembly.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/SDKAssembler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceFactory.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Logger/SDKLogger.swift
Due: ios-sdk-swiftlint

cleanup and build fix
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/AlamofireDownloadService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Services/Pulse/PulsePerformanceLogger.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Models/PerformanceAlert.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Services/MonitoringService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Logger/PulseSDKLogger.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Services/Pulse/PulseConfiguration.swift
Due: ios-sdk-swiftlint

Add DeviceKit integration for accurate device detection
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Data/DeviceSpecifications.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/BatteryInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/DeviceInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/ProcessorInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Models/ProcessorInfoExtensions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/DeviceKitAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/ProcessorDetector.swift
  thoughts/shared/plans/devicekit-integration-plan.md
Due: ios-sdk-swiftlint

fixed the build issues
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/DeviceCapability/Services/DeviceKitAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/docs/API_REFERENCE.md
  thoughts/shared/plans/work-sequencing-plan.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

Remove AnalyticsView and related analytics functionality from Chat and Settings components
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/AnalyticsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Settings/SimplifiedSettingsView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor ContentView and ChatInterfaceView for improved model selection and UI consistency
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelComponents.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelSelectionSheet.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizView.swift
Due: ios-app-swiftlint

Refactor RunAnywhereSDK for improved modularity and maintainability
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Configuration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Frameworks.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Generation.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+ModelManagement.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Storage.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

Enhance RunAnywhereAI app with improved logging and build script functionality
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/scripts/README.md
  examples/ios/RunAnywhereAI/scripts/build_and_run.sh
  examples/ios/RunAnywhereAI/scripts/clean_build_and_run.sh
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Migrations/Migration001_InitialSchema.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Migrations/Migration002_AddIndexes.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/ConfigurationRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/GenerationRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/GenerationSessionRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/ModelMetadataRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/ModelUsageStatsRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/TelemetryRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/README.md
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Errors/SDKError.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor LLMSwiftService and Chat components for improved performance and logging
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/StreamingService+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/SimplifiedFileManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/ModelMetadataRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Constants/SDKConstants.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

adding todos
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/docs/FUTURE_TODOS.md
Due: none

removing redundant docs
  examples/android/RunAnywhereAI/docs/ANDROID_LOCAL_LLM_IMPLEMENTATION_GUIDE.md
  examples/android/RunAnywhereAI/docs/LOCAL_LLM_SAMPLE_APP_IMPLEMENTATION.md
  examples/android/RunAnywhereAI/docs/NATIVE_APP_QUICKSTART_GUIDE.md
Due: none

Refactor Chat components to utilize new Message model
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Models/ChatMessage.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Message.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor LLM and Chat components to enhance clarity and performance
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/StreamingService+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Services/RoutingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/ContextManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/GenerationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/StreamingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Services/LLMService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceFactory.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Context.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Message.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+StructuredOutput.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance RunAnywhereAI app with auto-loading model feature and improved conversation handling
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ConversationStore.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
Due: ios-app-swiftlint

Implement analytics tracking and performance metrics for conversations and messages
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ConversationStore.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelComponents.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelSelectionSheet.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Settings/SimplifiedSettingsView.swift
Due: ios-app-swiftlint

Fixing the delete button bug
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Storage/StorageView.swift
Due: ios-app-swiftlint

udpates
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizView.swift
Due: ios-app-swiftlint
