Repository RunanywhereAI/sdks: changes, and which pre-commit hooks are due for each by the changed paths.
All: ios-sdk-swiftlint, ios-app-swiftlint

ios-sdk-swiftlint:
  name: iOS SDK SwiftLint
  entry: bash -c 'cd sdk/runanywhere-swift && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
  language: system
  pass_filenames: false

ios-app-swiftlint:
  name: iOS App SwiftLint
  entry: bash -c 'cd examples/ios/RunAnywhereAI && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
  language: system
  pass_filenames: false

Refactor audio processing and enhance voice features
  examples/ios/RunAnywhereAI/Core/Services/Audio/AudioProcessor.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizInputView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VADService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/SystemTextToSpeechService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/VAD/SimpleEnergyVAD.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/ModularPipelineConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/ModularPipelineEvent.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VADConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceLLMConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceSTTConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceTTSConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/ModularVoicePipeline.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionDelegate.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionManager.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Fix macOS UI/UX issues and improve cross-platform layouts
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Settings/SimplifiedSettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Storage/StorageView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Helpers/AdaptiveLayout.swift
Due: ios-app-swiftlint

remove CROSS_PLATFORM_BUILD.md from the ocmmit
  examples/ios/RunAnywhereAI/CROSS_PLATFORM_BUILD.md
Due: none

Enhance WhisperKitService and VoiceAssistant components for improved audio processing
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/AudioChunk.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VADConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/ModularVoicePipeline.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor audio capture and transcription initialization for improved clarity and error handling
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Audio/AudioCapture.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionViewModel.swift
Due: ios-app-swiftlint

adding architecture for voice pipeline
  sdk/runanywhere-swift/docs/VOICE_PIPELINE_ARCHITECTURE.md
Due: none

Fix iOS build: Remove Pods framework linking for empty dependencies
  examples/ios/RunAnywhereAI/Podfile
  examples/ios/RunAnywhereAI/Podfile.lock
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/contents.xcworkspacedata
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

updating LLM swift
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Migrate LLM.swift from local to remote package reference
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Refactor voice-related components for improved clarity and functionality
  examples/ios/RunAnywhereAI/Podfile
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/ModularVoicePipeline.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Fix macOS compatibility issues across Voice and Quiz features
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizInputView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/SystemTextToSpeechService.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

update readme
  README.md
Due: none

updating readme
  README.md
Due: none

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

Refactor Podfile and introduce comprehensive architecture documentation for Natural Voice AI Pipeline
  examples/ios/RunAnywhereAI/Podfile
  thoughts/shared/plans/natural_voice_ai_pipeline_architecture.md
Due: none

reverting llm swift changes
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftService.swift
Due: ios-app-swiftlint

fixing the build pipeline
  examples/ios/RunAnywhereAI/Podfile
  examples/ios/RunAnywhereAI/Podfile.lock
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/contents.xcworkspacedata
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/scripts/build_and_run.sh
Due: ios-app-swiftlint

bug fixes in the pipeline
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/ModularPipelineEvent.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceLLMConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/ModularVoicePipeline.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/StreamingTTSHandler.swift
Due: ios-sdk-swiftlint

Enhance speaker diarization support in transcription features
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/SpeakerDiarizationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/ModularPipelineEvent.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionSegment.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/ModularVoicePipeline.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Add FluidAudio diarization module and update SDK documentation
  CLAUDE.md
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/docs/FUTURE_TODOS.md
  sdk/runanywhere-swift/Modules/FluidAudioDiarization/Package.resolved
  sdk/runanywhere-swift/Modules/FluidAudioDiarization/Package.swift
  sdk/runanywhere-swift/Modules/FluidAudioDiarization/Sources/FluidAudioDiarization/FluidAudioDiarization.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/SpeakerDiarizationProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/DefaultSpeakerDiarization.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/DiarizationFactory.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/ModularVoicePipeline.swift
Due: ios-sdk-swiftlint

resolving dependency issues
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  sdk/runanywhere-swift/Modules/FluidAudioDiarization/Package.swift
Due: ios-sdk-swiftlint

dependency fix
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  sdk/runanywhere-swift/Modules/FluidAudioDiarization/Package.resolved
  sdk/runanywhere-swift/Modules/FluidAudioDiarization/Package.swift
Due: ios-sdk-swiftlint

Add FluidAudioIntegration for enhanced speaker diarization support
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/FluidAudioIntegration.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/DefaultSpeakerDiarization.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance FluidAudio integration and introduce audio segmentation strategies
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/FluidAudioIntegration.swift
  sdk/runanywhere-swift/Modules/FluidAudioDiarization/README.md
  sdk/runanywhere-swift/Modules/FluidAudioDiarization/Sources/FluidAudioDiarization/FluidAudioDiarization.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/AudioSegmentationProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/ModularVoicePipeline.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Add voice processing capabilities with modular architecture
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Factories/DiarizationFactory.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/LLMHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/STTHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/SpeakerDiarizationHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/TTSHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/VADHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Models/VoiceSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Operations/StreamingTTSOperation.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/DefaultSpeakerDiarization.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceCapabilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoicePipelineManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceSessionManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Strategies/AudioSegmentation/AudioSegmentationStrategy.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Strategies/VAD/SimpleEnergyVAD.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Voice/Adapters/SystemTTSAdapter.swift
Due: ios-sdk-swiftlint

Refactor voice processing services and enhance audio session management
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceCapabilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoicePipelineManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Voice/Platform/iOSAudioSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Voice/Platform/macOSAudioSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
Due: ios-sdk-swiftlint

Refactor voice processing components and enhance error handling
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/FluidAudioIntegration.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/TranscriptionViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoicePipelineManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Voice/Platform/iOSAudioSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoicePipelineEvent.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceProcessingMode.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceSession.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

pipeline near complete
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceActivityDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceOrchestrator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoicePerformanceMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/DefaultVoiceOrchestrator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoicePipelineConfig.swift
  sdk/runanywhere-swift/docs/VOICE_PIPELINE_ARCHITECTURE.md
Due: ios-sdk-swiftlint

updating pipeline
  sdk/runanywhere-swift/docs/VOICE_PIPELINE_ARCHITECTURE.md
Due: none

cleanup - removing a duplciate
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/ModularPipelineEvent.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoicePipelineEvent.swift
Due: ios-sdk-swiftlint

rename
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/LLMHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoicePipelineManager.swift
Due: ios-sdk-swiftlint

adding plans for llm swift extraction and whisper kit extraction
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Due: none

Add module support for LLM and voice processing
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/ModuleSupport/RunAnywhereSDK+LLMModules.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/ModuleSupport/RunAnywhereSDK+ModuleCore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/ModuleSupport/RunAnywhereSDK+ModuleUtilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/ModuleSupport/RunAnywhereSDK+VoiceModules.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceTTSConfig.swift
  sdk/runanywhere-swift/docs/MODULE_DEVELOPMENT_GUIDE.md
  thoughts/shared/plans/sherpa_onnx_tts_complete_plan.md
Due: ios-sdk-swiftlint

Add LLMSwift and WhisperKitTranscription modules for enhanced voice processing capabilities
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  sdk/runanywhere-swift/Modules/LLMSwift/Package.resolved
  sdk/runanywhere-swift/Modules/LLMSwift/Package.swift
  sdk/runanywhere-swift/Modules/LLMSwift/README.md
  sdk/runanywhere-swift/Modules/LLMSwift/Sources/LLMSwift/LLMSwiftAdapter.swift
  sdk/runanywhere-swift/Modules/LLMSwift/Sources/LLMSwift/LLMSwiftError.swift
  sdk/runanywhere-swift/Modules/LLMSwift/Sources/LLMSwift/LLMSwiftService.swift
  sdk/runanywhere-swift/Modules/LLMSwift/Sources/LLMSwift/LLMSwiftTemplateResolver.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Package.resolved
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Package.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/README.md
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/VoiceError.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitAdapter.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitDownloadStrategy.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitService.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitTranscription.swift
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

Update WhisperKit and LLMSwift modules for improved functionality and code clarity
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitAdapter.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitService.swift
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Due: ios-sdk-swiftlint

Add SherpaONNXTTS module for advanced TTS capabilities
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Package.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Bridge/SherpaONNXWrapper.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Models/SherpaONNXDownloadStrategy.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Models/SherpaONNXModelManager.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Public/SherpaONNXConfiguration.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Public/SherpaONNXTTSService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceCapabilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/ModuleSupport/RunAnywhereSDK+LLMModules.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/ModuleSupport/RunAnywhereSDK+ModuleCore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/ModuleSupport/RunAnywhereSDK+ModuleUtilities.swift
  thoughts/shared/plans/sherpa_onnx_tts_complete_plan.md
Due: ios-sdk-swiftlint

removing docs
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Due: none

Add build script and XCFrameworks for SherpaONNXTTS module
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Package.resolved
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Package.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/README.md
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Bridge/SherpaONNXBridge.h
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/module.modulemap
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/build_frameworks.sh
  thoughts/shared/plans/sherpa_onnx_tts_complete_plan.md
  thoughts/shared/plans/sherpa_onnx_wrapper_implementation.md
Due: ios-sdk-swiftlint

Path conditions:
  ios-sdk-swiftlint: any of: ^sdk/runanywhere-swift/.*\.swift$
  ios-app-swiftlint: any of: ^examples/ios/RunAnywhereAI/.*\.swift$
