Repository RunanywhereAI/sdks: changes, and which pre-commit hooks are due for each by the changed paths.
All: ios-sdk-swiftlint, ios-app-swiftlint

ios-sdk-swiftlint:
  name: iOS SDK SwiftLint
  entry: bash -c 'cd sdk/runanywhere-swift && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
  language: system
  pass_filenames: false

ios-app-swiftlint:
  name: iOS App SwiftLint
  entry: bash -c 'cd examples/ios/RunAnywhereAI && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
  language: system
  pass_filenames: false

adding sample
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
Due: none

Improve build script robustness and cross-machine compatibility
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/scripts/build_and_run.sh
Due: none

Remove .claude/settings.local.json from tracking (already in .gitignore)
  .claude/settings.local.json
Due: none

no tokens limits now :)
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Settings/SimplifiedSettingsView.swift
Due: ios-app-swiftlint

Implement SDK analytics with comprehensive tracking and UI components
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/AnalyticsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ConversationStore.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/UI/AnalyticsView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/UI/AnalyticsViewModel.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance quiz generation functionality and UI responsiveness
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/GenerationProgressView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizInputView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/StructuredOutput/Services/StructuredOutputHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/RunAnywhereSDK+StreamingStructuredOutput.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+StructuredOutput.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

adding planning docs
  thoughts/shared/plans/voice_sdk_architecture_v2.md
  thoughts/shared/plans/whisperkit_integration_plan.md
Due: none

Implement voice framework infrastructure for WhisperKit integration
  CLAUDE.md
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Models/ModelArchitecture.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Foundation/DependencyInjection/VoiceAdapterRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Framework/LLMFramework.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceFrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  thoughts/shared/plans/voice_sdk_architecture_v2.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

minor
  CLAUDE.md
Due: none

Implement voice assistant features and integrate audio capture and TTS services
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Audio/AudioCapture.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/TTS/SystemTTSService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/FrameworkRecommender.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Foundation/DependencyInjection/VoiceAdapterRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  thoughts/shared/plans/voice_sdk_architecture_v2.md
  thoughts/shared/plans/voice_sdk_architecture_v3.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

Add audio processing and voice activity detection services
  examples/ios/RunAnywhereAI/Core/Services/Audio/AudioProcessor.swift
  examples/ios/RunAnywhereAI/Core/Services/Audio/SimpleVAD.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/TextToSpeechService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceActivityDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoicePerformanceMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/WakeWordDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/AudioChunk.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionSegment.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceSession.swift
  thoughts/shared/plans/voice_sdk_architecture_v3.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

removing unused file
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ModelDownloadManager.swift
Due: ios-app-swiftlint

Implement custom download strategy for WhisperKit models
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Downloading/WhisperKitDownloadStrategy.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/AlamofireDownloadService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Downloading/DownloadStrategy.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

cleanup
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Downloading/WhisperKitDownloadStrategy.swift
Due: ios-app-swiftlint

Refactor framework adapters to unify interface and enhance modality support
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Data/FrameworkCapabilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelLoading/Services/ModelLoadingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelValidation/Services/DependencyChecker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Data/AdapterRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Managers/TokenizerCache.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/ConfigurationBuilder.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/TokenizerFormatDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/TokenizerService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Foundation/DependencyInjection/VoiceAdapterRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Framework/FrameworkModality.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Frameworks/FrameworkAdapterRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Frameworks/UnifiedFrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/AdapterRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Errors/SDKError.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Frameworks.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor WhisperKit download strategy and model handling
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Downloading/WhisperKitDownloadStrategy.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Storage/StorageView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Models/StoredModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/SimplifiedFileManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/FileOperations/ArchiveUtility.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Storage.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor voice framework integration and enhance TTS support
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/TTS/SystemTTSServiceWrapper.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceFrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance voice processing capabilities and integrate WhisperKit support
  CLAUDE.md
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Audio/AudioCapture.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  examples/ios/RunAnywhereAI/scripts/verify_urls.sh
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceOrchestrator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/DefaultVoiceOrchestrator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoicePipelineConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoicePipelineEvent.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/VoiceSession.swift
  sdk/runanywhere-swift/docs/ARCHITECTURE_V2.md
  sdk/runanywhere-swift/docs/PUBLIC_API_REFERENCE.md
  thoughts/shared/plans/voice_sdk_architecture_v3.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor WhisperKitService and VoiceAssistant components for improved performance and UX
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
Due: ios-app-swiftlint

voice stuff kinda working
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
Due: ios-app-swiftlint

updating the cleanup process for the voice
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/DefaultVoiceOrchestrator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Implement continuous audio capture and enhance voice session management
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Audio/AudioCapture.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/TextToSpeechService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceActivityDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/WakeWordDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/SimpleVAD.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/AudioChunk.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/TranscriptionSegment.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionDelegate.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionManager.swift
  thoughts/shared/plans/runanywhere_voice_rtc_implementation_plan.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance audio processing and transcription capabilities
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Audio/AudioCapture.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/TextToSpeechService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Voice/VoiceActivityDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/SimpleVAD.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/Voice/AudioChunk.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionManager.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

feat: Add Apple Foundation Models support (iOS 18+) - experimental
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelSelectionSheet.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelLoading/Services/ModelLoadingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+ModelManagement.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

fix: Resolve Foundation Models session creation blocking issue
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelSelectionSheet.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkExecutor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/GenerationService+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/StreamingService+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Services/RoutingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Models/InferenceRequest.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/GenerationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/StreamingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Services/LLMService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Logger/PulseSDKLogger.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Generation.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+StructuredOutput.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

refactor: Remove artificial streaming delays in Foundation Models adapter
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
Due: ios-app-swiftlint

feat: Implement native streaming support for Foundation Models
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
Due: ios-app-swiftlint

Refactor audio capture and voice session management for improved performance
  CLAUDE.md
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Audio/AudioCapture.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/SimpleVAD.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/VAD/SimpleEnergyVAD.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionManager.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance voice session management and audio processing capabilities
  CLAUDE.md
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/VAD/SimpleEnergyVAD.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionManager.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor TTS integration and enhance audio session management
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Audio/AudioCapture.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/TTS/SystemTTSService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/TTS/SystemTTSServiceWrapper.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/WhisperKit/WhisperKitAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/DefaultVoiceOrchestrator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/SystemTextToSpeechService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionManager.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor ModelManager and VoiceAssistant components for improved functionality and clarity
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+ModelManagement.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

bug fix
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionManager.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

fixing my vibe coder friend issues
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
Due: ios-app-swiftlint

updating docs
  README.md
  docs/screenshots/README.md
  docs/screenshots/main-screenshot.jpg
  examples/ios/RunAnywhereAI/README.md
  examples/ios/RunAnywhereAI/docs/screenshots/chat-interface.png
  examples/ios/RunAnywhereAI/docs/screenshots/quiz-flow.png
  examples/ios/RunAnywhereAI/docs/screenshots/voice-ai.png
  sdk/runanywhere-swift/README.md
Due: none

discord invite update
  README.md
Due: none

adding more screenshots
  README.md
Due: none

fixing the example app to support mac too
  examples/ios/RunAnywhereAI/CROSS_PLATFORM_BUILD.md
  examples/ios/RunAnywhereAI/Podfile
  examples/ios/RunAnywhereAI/Podfile.lock
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/contents.xcworkspacedata
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/Contents.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Audio/AudioCapture.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/ConversationStore.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/DeviceInfoService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Core/Services/Foundation/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/AddModelFromURLView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelSelectionSheet.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/SimplifiedModelsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/GenerationProgressView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizCardView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizInputView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizResultsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizSwipeView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Quiz/QuizView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Settings/SimplifiedSettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Storage/StorageView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Helpers/AdaptiveLayout.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Services/Voice/SystemTextToSpeechService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Voice/VoiceSessionManager.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

update .gitignore
  .gitignore
Due: none

Remove thoughts directory from repo, keep it locally
  thoughts/shared/plans/aptabase-integration-plan.md
  thoughts/shared/plans/devicekit-integration-plan.md
  thoughts/shared/plans/grdb-swift-integration-plan.md
  thoughts/shared/plans/moya-swinject-integration-plan.md
  thoughts/shared/plans/pulse-integration-plan.md
  thoughts/shared/plans/quiz-feature-implementation-plan.md
  thoughts/shared/plans/runanywhere-sdk-package-recommendations.md
  thoughts/shared/plans/runanywhere_voice_rtc_implementation_plan.md
  thoughts/shared/plans/sigmaswiftstatistics-integration-plan.md
  thoughts/shared/plans/structured-output-implementation-plan.md
  thoughts/shared/plans/voice_sdk_architecture_v3.md
  thoughts/shared/plans/whisperkit_integration_plan.md
Due: none

Path conditions:
  ios-sdk-swiftlint: any of: ^sdk/runanywhere-swift/.*\.swift$
  ios-app-swiftlint: any of: ^examples/ios/RunAnywhereAI/.*\.swift$
