Repository RunanywhereAI/sdks: changes, and which pre-commit hooks are due for each by the changed paths.
All: ios-sdk-swiftlint, ios-app-swiftlint

ios-sdk-swiftlint:
  name: iOS SDK SwiftLint
  entry: bash -c 'cd sdk/runanywhere-swift && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
  language: system
  pass_filenames: false

ios-app-swiftlint:
  name: iOS App SwiftLint
  entry: bash -c 'cd examples/ios/RunAnywhereAI && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
  language: system
  pass_filenames: false

plan update
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: none

Refactor SDK structure and remove legacy components
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Frameworks/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Tokenization/UnifiedTokenizerProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Constants/ErrorCodes.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Constants/SDKConstants.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Utilities/AsyncQueue.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Utilities/WeakCollection.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceFactory.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceLifecycle.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Internal/Types.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/AuthProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/HardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/LLMService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/MemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ModelLifecycleProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ModelProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/UnifiedTokenizerProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Errors/RunAnywhereError.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/FrameworkOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/FrameworkOptions/CoreMLOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/FrameworkOptions/GGUFOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/FrameworkOptions/MLXOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/FrameworkOptions/TFLiteOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/TokenBudget.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Storage/ModelStorageManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Validation/ModelValidator.swift
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: ios-sdk-swiftlint

Refactor performance metrics and clean up codebase
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/PerformanceMetrics.swift
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: ios-sdk-swiftlint

Implement compatibility and lifecycle management subsystems
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Data/ArchitectureSupport.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Data/FrameworkCapabilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Data/QuantizationSupport.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/CompatibilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/FrameworkRecommender.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/RequirementChecker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Lifecycle/Managers/ObserverRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Lifecycle/Managers/StateManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Lifecycle/Services/LifecycleService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Lifecycle/Services/TransitionHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Monitors/MemoryMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Monitors/ThresholdWatcher.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/AllocationManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/CacheEviction.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/MemoryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/PressureHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/ModelDiscovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryUpdater.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Storage/RegistryCache.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Storage/RegistryStorage.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Data/AdapterRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Managers/TokenizerCache.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/ConfigurationBuilder.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/FormatDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/TokenizerService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Compatibility/ModelCompatibilityMatrix.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/ModelLifecycleStateMachine.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Memory/UnifiedMemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Registry/DynamicModelRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Tokenization/UnifiedTokenizerManager.swift
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: ios-sdk-swiftlint

Remove legacy components and refactor compatibility structures
  sdk/runanywhere-swift/Sources/RunAnywhere/Benchmarking/BenchmarkSuite.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Compatibility/CompatibilityTypes.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Compatibility/Types/CompatibilityResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Compatibility/Types/DeviceInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Compatibility/Types/FrameworkCapability.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Compatibility/Types/ModelArchitecture.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Compatibility/Types/QuantizationType.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Download/EnhancedDownloadManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Download/ModelDownloadManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/ErrorHandling/UnifiedErrorRecovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Hardware/iOSHardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/ModelValidator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Monitoring/RealtimePerformanceMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Profiling/MemoryProfiler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Registry/DynamicModelRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Storage/StorageMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Testing/ABTestingFramework.swift
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: ios-sdk-swiftlint

Enhance SDK functionality and resolve naming conflicts
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ABTesting/Tracking/ABTestGenerationTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Protocols/BenchmarkMetricsCollector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkMetricsAggregator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkReportGenerator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/ComparisonEngine.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/RequirementChecker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Progress/DownloadProgressAggregator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Progress/DownloadProgressTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/DownloadCoordinator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Strategies/DownloadRetryStrategy.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelValidation/Models/ModelMetadata.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Reporting/PerformanceMetricsAggregator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Reporting/PerformanceReportGenerator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Services/SystemMetricsCollector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Tracking/MonitoringSystemMetrics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Tracking/PerformanceGenerationTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Profiling/Operations/ProfilerSystemMetrics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/TokenizerFormatDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/ErrorTypes/DownloadError.swift
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: ios-sdk-swiftlint

Refactor A/B testing and memory management components
  .claude/settings.local.json
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ABTesting/Services/ABTestService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ABTesting/Services/TestMetricsCollector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ABTesting/Tracking/ABTestGenerationTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkExecutor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkMetricsAggregator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkReportGenerator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Data/FrameworkCapabilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Models/MemoryModels.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/AllocationManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/MemoryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/ModelDiscovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Services/RoutingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Services/StorageMonitorImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/StreamingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/ProcessorInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Hardware/Models/ProcessorInfoExtensions.swift
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: ios-sdk-swiftlint

Refactor benchmarking and memory management components
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkReportGenerator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/CompatibilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Archives/Extractors/GzipExtractor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/DownloadService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Lifecycle/Managers/ObserverRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Models/MemoryModels.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/AllocationManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/CacheEviction.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/MemoryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelLoading/Models/LoadedModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelValidation/Models/ModelMetadata.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelValidation/Services/ValidationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Services/MonitoringService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Profiling/Operations/ModelMemoryTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Profiling/Operations/OperationProfiler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Profiling/Operations/ProfilerSystemMetrics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Services/StorageService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/TokenizerService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/ModelFormat.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Frameworks/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Memory/MemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Hardware/Capability/RequirementMatcher.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Hardware/Detectors/ProcessorDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Hardware/Models/DeviceCapabilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

updating sdk
  .claude/settings.local.json
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Benchmarking/Services/BenchmarkService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Data/FrameworkCapabilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/CompatibilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/FrameworkRecommender.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/RequirementChecker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/DownloadService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Storage/ModelInstaller.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Monitors/MemoryMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/MemoryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Memory/Services/PressureHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Services/MonitoringService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Profiling/Analysis/TrendAnalyzer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Profiling/Operations/SnapshotManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Profiling/Services/AllocationTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Profiling/Services/ProfilerService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/ModelDiscovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Services/RoutingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Analyzers/ModelScanner.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Analyzers/StorageAnalyzerImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Protocols/StorageAnalyzer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Services/ModelStorageManagerImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Services/StorageService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/GenerationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Tokenization/Services/TokenizerService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/ModelInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/QuantizationLevel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/RoutingDecision.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/RoutingReason.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Memory/MemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Hardware/Capability/CapabilityAnalyzer.swift
  sdk/runanywhere-swift/docs/ARCHITECTURE.md
Due: ios-sdk-swiftlint

updating settings.json
  .claude/settings.local.json
Due: none

app running v 0.11
  examples/ios/RunAnywhereAI/RunAnywhereAI/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Hardware/Capability/CapabilityAnalyzer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Hardware/Detectors/GPUDetector.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

sample app near complete
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/PerformanceView.swift
Due: ios-app-swiftlint

llm.swift integration in the sample app
  examples/ios/RunAnywhereAI/RunAnywhereAI/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMSwift/LLMSwiftAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelURLRegistry.swift
Due: ios-app-swiftlint

added llm.swift integration.
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMSwift/LLMSwiftAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/PerformanceView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

updating docs
  examples/ios/RunAnywhereAI/README.md
  examples/ios/RunAnywhereAI/scripts/build_and_run.sh
Due: none

Implement Foundation Models Adapter and Add Model from URL View
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Foundation/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/AddModelFromURLView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Components/UnifiedModelDetailsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedModelsView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Data/FrameworkCapabilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/RequirementChecker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/HardwareRequirement.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Frameworks/FrameworkAdapterRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Hardware/Models/DeviceCapabilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/FrameworkAvailability.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

download working almost
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/StorageViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/AddModelFromURLView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedModelsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/StorageView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/AlamofireDownloadService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/ModelDiscovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/SimplifiedFileManager.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance model management and metadata handling
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/StorageViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedModelsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/StorageView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/AlamofireDownloadService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/ModelMetadataStore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/SimplifiedFileManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Implement model loading notifications and enhance system message updates
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedModelsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/StorageView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/ModelDiscovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/ModelMetadataStore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance GenerationService with model management and performance metrics
  .claude/settings.local.json
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/GenerationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

Implement streaming text generation and enhance model context management
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/GenerationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/StreamingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Enhance chat message handling and introduce thinking content support
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ChatMessage.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/AddModelFromURLView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadConfirmationView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedModelsView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/ModelMetadataStore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/GenerationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/StreamingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/ThinkingParser.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/ModelInfo.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

testing kotlin changes - not to merge yet
  sdk/runanywhere-android/API_REFERENCE.md
  sdk/runanywhere-android/ARCHITECTURE.md
  sdk/runanywhere-android/README.md
  sdk/runanywhere-android/build.gradle.kts
  sdk/runanywhere-android/gradle.properties
  sdk/runanywhere-android/lint-baseline.xml
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/RunAnywhereSDK.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/configuration/Configuration.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/configuration/DownloadConfig.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/configuration/ModelProviderConfig.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/configuration/PrivacyMode.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/configuration/RoutingPolicy.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/configuration/TelemetryConsent.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/errors/RunAnywhereError.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/errors/SDKError.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/example/SDKExample.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/CostBreakdown.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/DownloadTask.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/ExecutionTarget.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/FrameworkAvailability.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/GenerationOptions.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/GenerationResult.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/HardwareAcceleration.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/HardwareConfiguration.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/LLMFramework.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/ModelCriteria.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/ModelFormat.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/models/ModelInfo.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/services/FrameworkAdapter.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/services/ModelMetadataStore.kt
  sdk/runanywhere-android/src/main/java/com/runanywhere/sdk/services/ServiceContainer.kt
Due: none

updating some stuff
  README.md
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/100.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/102.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/1024.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/108.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/114.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/120.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/128.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/144.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/152.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/16.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/167.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/172.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/180.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/196.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/20.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/216.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/234.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/256.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/258.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/29.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/32.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/40.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/48.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/50.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/512.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/55.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/57.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/58.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/60.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/64.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/66.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/72.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/76.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/80.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/87.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/88.png
  examples/ios/RunAnywhereAI/RunAnywhereAI/Assets.xcassets/AppIcon.appiconset/92.png
Due: none

feat: add security infrastructure for open source
  .gitignore
  .gitleaks.toml
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  scripts/security-check.sh
  sdk/runanywhere-android/README.md
  sdk/runanywhere-swift/README.md
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Security/SecureStorage.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/Security/SecurityValidator.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration/SDKConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration/SecurityConfiguration.swift
Due: ios-sdk-swiftlint

crash fix
  .claude/settings.local.json
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/ModelMetadataStore.swift
Due: ios-sdk-swiftlint

Refactor SettingsView to enhance SDK configuration management
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Protocols/ConfigurationManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/ConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration/DefaultGenerationSettings.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration/SDKConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Add database and sync integration for improved data management
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/CloudSync/Models/APIEndpoint.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/CloudSync/Services/APIClient.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Database/Protocols/DatabaseCore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Database/Services/SQLiteDatabase.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Downloading/Services/AlamofireDownloadService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Registry/Services/RegistryService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Implementations/ConfigurationRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Implementations/ModelMetadataRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Implementations/TelemetryRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Models/ConfigurationData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Models/ModelMetadataData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Models/RepositoryError.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Models/SyncModels.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Models/TelemetryData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Protocols/Repository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Services/DataSyncService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/ModelMetadataStore.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/SimplifiedFileManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/docs/DATABASE_SYNC_USAGE.md
Due: ios-sdk-swiftlint

Refactor StorageViewModel and SettingsView for improved SDK integration
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/StorageViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedModelsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/StorageView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/ConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Models/ConfigurationData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Services/DataSyncService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/Models/StoredModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Storage/SimplifiedFileManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Constants/SDKConstants.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/Tests/RunAnywhereTests/RunAnywhereTests.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Refactor ConfigurationService and related components for improved configuration management
  CLAUDE.md
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/ConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Implementations/ConfigurationRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

updated build
  examples/ios/RunAnywhereAI/Podfile
  examples/ios/RunAnywhereAI/Podfile.lock
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelValidation/Services/DependencyChecker.swift
Due: ios-sdk-swiftlint

quiz still not working, to be reviewed later
  .claude/settings.local.json
  .gitignore
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMSwift/LLMSwiftAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMSwift/LLMSwiftService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/QuizViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Quiz/QuizCardView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Quiz/QuizInputView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Quiz/QuizResultsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Quiz/QuizSwipeView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Quiz/QuizView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Protocols/ConfigurationServiceProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/ConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Configuration/Services/InMemoryConfigurationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/ModelLoading/Services/ModelLoadingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/StructuredOutput/Services/StructuredOutputHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/GenerationService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/TextGeneration/Services/StreamingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Errors/SDKError.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Models/GenerationResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+StructuredOutput.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/StructuredOutput/Generatable.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

analytics stuff incoming
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ChatMessage.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/AnalyticsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/PerformanceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedModelsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedSettingsView.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/GenerationResultAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/GenerationService+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/StreamingService+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Models/Generation.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Models/GenerationPerformance.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Models/GenerationSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Models/LiveGenerationMetrics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Protocols/GenerationAnalyticsRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Protocols/GenerationAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Services/GenerationAnalyticsServiceImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Storage/GenerationAnalyticsRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Tracking/PerformanceTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Models/ConfigurationData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Repository/Services/DataSyncService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Routing/Services/RoutingService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/ExecutionTarget.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Constants/SDKConstants.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Infrastructure/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration/RoutingPolicy.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration/SDKConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

updaitng gitignore
  .gitignore
Due: none

Path conditions:
  ios-sdk-swiftlint: any of: ^sdk/runanywhere-swift/.*\.swift$
  ios-app-swiftlint: any of: ^examples/ios/RunAnywhereAI/.*\.swift$
