Repository RunanywhereAI/sdks: changes, and which pre-commit hooks are due for each by the changed paths.
All: ios-sdk-swiftlint, ios-app-swiftlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # Security - Gitleaks for credential detection
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Security checks
  - repo: local
    hooks:
      - id: security-check
        name: Security checks for credentials and sensitive data
        entry: scripts/security-check.sh
        language: script
        pass_filenames: false
        always_run: true

  # TODO Comments Check
  - repo: local
    hooks:
      - id: todo-issue-check
        name: Check TODOs have GitHub issue references
        entry: scripts/check-todos-hook.sh
        language: script
        pass_filenames: false
        always_run: true

  # Android Lint temporarily disabled due to compilation issues
  # - repo: local
  #   hooks:
  #     - id: android-sdk-lint
  #       name: Android SDK Lint
  #       entry: bash -c 'cd sdk/runanywhere-android && if [ -f "./gradlew" ] && [ -n "$ANDROID_HOME" -o -f "../../../local.properties" ]; then ./gradlew lint; else echo "Skipping Android lint (no gradle or SDK)"; exit 0; fi'
  #       language: system
  #       files: ^sdk/runanywhere-android/.*\.(kt|kts|java|xml)$
  #       pass_filenames: false

  # - repo: local
  #   hooks:
  #     - id: android-app-lint
  #       name: Android App Lint
  #       entry: bash -c 'cd examples/android/RunAnywhereAI && if [ -f "./gradlew" ] && [ -n "$ANDROID_HOME" -o -f "local.properties" ]; then ./gradlew :app:lint; else echo "Skipping Android lint (no gradle or SDK)"; exit 0; fi'
  #       language: system
  #       files: ^examples/android/RunAnywhereAI/.*\.(kt|kts|java|xml)$
  #       pass_filenames: false

  # SwiftLint for iOS SDK
  - repo: local
    hooks:
      - id: ios-sdk-swiftlint
        name: iOS SDK SwiftLint
        entry: bash -c 'cd sdk/runanywhere-swift && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
        language: system
        files: ^sdk/runanywhere-swift/.*\.swift$
        pass_filenames: false

  # SwiftLint for iOS App
  - repo: local
    hooks:
      - id: ios-app-swiftlint
        name: iOS App SwiftLint
        entry: bash -c 'cd examples/ios/RunAnywhereAI && if which swiftlint >/dev/null; then swiftlint --quiet --reporter csv 2>/dev/null || true; else echo "SwiftLint not installed"; exit 0; fi'
        language: system
        files: ^examples/ios/RunAnywhereAI/.*\.swift$
        pass_filenames: false

# Configuration
default_language_version:
  python: python3

# Skip these hooks during CI
ci:
  skip:
    - android-sdk-lint
    - android-app-lint
    - ios-sdk-swiftlint
    - ios-app-swiftlint

Add NEXT_STEPS documentation and enhance Package.swift for SherpaONNXTTS module
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/NEXT_STEPS.md
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Package.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Bridge/SherpaONNXBridge.mm
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Tests/SherpaONNXTTSTests/SherpaONNXTTSTests.swift
Due: ios-sdk-swiftlint

Update pull_request_template.md
  .github/pull_request_template.md
Due: none

Add build documentation and enhance Package.swift for SherpaONNXTTS module
  .gitignore
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/.gitattributes
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/BUILD_DOCUMENTATION.md
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Package.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/README.md
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXBridge/SherpaONNXBridge.h
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXBridge/SherpaONNXBridge.mm
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Bridge/SherpaONNXWrapper.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/TEAM_WORKFLOW.md
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/setup_frameworks.sh
Due: ios-sdk-swiftlint

Update WhisperKit and LLMSwift modules for improved functionality and code clarity
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitAdapter.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitService.swift
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Due: ios-sdk-swiftlint

Add LLMSwift and WhisperKitTranscription modules for enhanced voice processing capabilities
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI/App/RunAnywhereAIApp.swift
  sdk/runanywhere-swift/Modules/LLMSwift/Package.resolved
  sdk/runanywhere-swift/Modules/LLMSwift/Package.swift
  sdk/runanywhere-swift/Modules/LLMSwift/README.md
  sdk/runanywhere-swift/Modules/LLMSwift/Sources/LLMSwift/LLMSwiftAdapter.swift
  sdk/runanywhere-swift/Modules/LLMSwift/Sources/LLMSwift/LLMSwiftError.swift
  sdk/runanywhere-swift/Modules/LLMSwift/Sources/LLMSwift/LLMSwiftService.swift
  sdk/runanywhere-swift/Modules/LLMSwift/Sources/LLMSwift/LLMSwiftTemplateResolver.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Package.resolved
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Package.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/README.md
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/VoiceError.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitAdapter.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitDownloadStrategy.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitService.swift
  sdk/runanywhere-swift/Modules/WhisperKitTranscription/Sources/WhisperKitTranscription/WhisperKitTranscription.swift
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

removing docs
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Due: none

adding plans for llm swift extraction and whisper kit extraction
  thoughts/shared/plans/llmswift_module_extraction.md
  thoughts/shared/plans/whisperkit_module_extraction.md
Due: none

adding the dependency
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
Due: none

adding docs
  thoughts/shared/plans/healthcare_stt_analytics_implementation.md
  thoughts/shared/plans/healthcare_stt_analytics_specification.md
Due: none

Add initial setup for RunAnywhere Web Voice SDK
  sdk/runanywhere-web/.gitignore
  sdk/runanywhere-web/README.md
  sdk/runanywhere-web/examples/vanilla/index.html
  sdk/runanywhere-web/examples/vanilla/package.json
  sdk/runanywhere-web/examples/vanilla/src/app.ts
  sdk/runanywhere-web/examples/vanilla/tsconfig.json
  sdk/runanywhere-web/examples/vanilla/vite.config.ts
  sdk/runanywhere-web/package.json
  sdk/runanywhere-web/packages/core/package.json
  sdk/runanywhere-web/packages/core/src/di/container.ts
  sdk/runanywhere-web/packages/core/src/errors/base.ts
  sdk/runanywhere-web/packages/core/src/index.ts
  sdk/runanywhere-web/packages/core/src/types/branded.ts
  sdk/runanywhere-web/packages/core/src/types/result.ts
  sdk/runanywhere-web/packages/core/src/utils/logger.ts
  sdk/runanywhere-web/packages/core/tsconfig.json
  sdk/runanywhere-web/packages/core/vite.config.ts
  sdk/runanywhere-web/packages/voice/package.json
  sdk/runanywhere-web/packages/voice/src/index.ts
  sdk/runanywhere-web/packages/voice/src/pipeline/pipeline-manager.ts
  sdk/runanywhere-web/packages/voice/src/pipeline/types.ts
  sdk/runanywhere-web/packages/voice/src/services/vad/types.ts
  sdk/runanywhere-web/packages/voice/src/services/vad/vad-service.ts
  sdk/runanywhere-web/packages/voice/tsconfig.json
  sdk/runanywhere-web/packages/voice/vite.config.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  sdk/runanywhere-web/pnpm-workspace.yaml
  sdk/runanywhere-web/test-integration.js
  sdk/runanywhere-web/tsconfig.base.json
  sdk/runanywhere-web/vite.config.ts
  thoughts/shared/plans/web_voice_pipeline.md
  thoughts/shared/plans/web_voice_pipeline_detailed.md
  thoughts/shared/plans/web_voice_pipeline_phase1.md
Due: none

Add initial files for RunAnywhere Web Voice Pipeline Demo
  examples/web/vanilla/.gitignore
  examples/web/vanilla/README.md
  examples/web/vanilla/index.html
  examples/web/vanilla/package-lock.json
  examples/web/vanilla/package.json
  examples/web/vanilla/src/app.ts
  examples/web/vanilla/tsconfig.json
  examples/web/vanilla/vite.config.ts
  sdk/runanywhere-web/examples/vanilla/tsconfig.json
  sdk/runanywhere-web/pnpm-lock.yaml
  sdk/runanywhere-web/pnpm-workspace.yaml
Due: none

updating docs
  thoughts/shared/plans/web_voice_pipeline_phase1_completed.md
  thoughts/shared/plans/web_voice_pipeline_phase2.md
Due: none

Implement transcription and LLM capabilities in RunAnywhere Web SDK
  sdk/runanywhere-web/packages/core/src/index.ts
  sdk/runanywhere-web/packages/core/src/monitoring/performance-monitor.ts
  sdk/runanywhere-web/packages/core/tsconfig.json
  sdk/runanywhere-web/packages/llm/package.json
  sdk/runanywhere-web/packages/llm/src/index.ts
  sdk/runanywhere-web/packages/llm/src/services/llm-service.ts
  sdk/runanywhere-web/packages/llm/src/types/index.ts
  sdk/runanywhere-web/packages/llm/tsconfig.json
  sdk/runanywhere-web/packages/llm/vite.config.ts
  sdk/runanywhere-web/packages/transcription/package.json
  sdk/runanywhere-web/packages/transcription/src/index.ts
  sdk/runanywhere-web/packages/transcription/src/services/whisper-service.ts
  sdk/runanywhere-web/packages/transcription/src/types/index.ts
  sdk/runanywhere-web/packages/transcription/src/workers/audio-processor.worker.ts
  sdk/runanywhere-web/packages/transcription/tsconfig.json
  sdk/runanywhere-web/packages/transcription/vite.config.ts
  sdk/runanywhere-web/packages/voice/src/index.ts
  sdk/runanywhere-web/packages/voice/src/pipeline/enhanced-pipeline-manager.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  sdk/runanywhere-web/tsconfig.json
  thoughts/shared/plans/web_voice_pipeline.md
  thoughts/shared/plans/web_voice_pipeline_phase2.md
Due: none

Enhance demo app for Phase 2 features in RunAnywhere Voice Pipeline
  examples/web/vanilla/index.html
  examples/web/vanilla/src/app.ts
  sdk/runanywhere-web/packages/core/package.json
  sdk/runanywhere-web/packages/llm/package.json
  sdk/runanywhere-web/packages/transcription/package.json
  sdk/runanywhere-web/packages/voice/package.json
  sdk/runanywhere-web/packages/voice/src/pipeline/enhanced-pipeline-manager.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  thoughts/shared/plans/web_voice_pipeline_phase2.md
Due: none

Implement Phase 3 features in RunAnywhere Voice Pipeline
  examples/web/vanilla/index.html
  examples/web/vanilla/package.json
  examples/web/vanilla/src/app.ts
  sdk/runanywhere-web/packages/tts/package.json
  sdk/runanywhere-web/packages/tts/src/index.ts
  sdk/runanywhere-web/packages/tts/src/services/tts-service.ts
  sdk/runanywhere-web/packages/tts/src/types/index.ts
  sdk/runanywhere-web/packages/tts/tsconfig.json
  sdk/runanywhere-web/packages/tts/vite.config.ts
  sdk/runanywhere-web/packages/voice/src/pipeline/enhanced-pipeline-manager.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  thoughts/shared/plans/web_voice_pipeline_phase3.md
Due: none

Refactor and enhance RunAnywhere Web Voice Pipeline packages
  sdk/runanywhere-web/package.json
  sdk/runanywhere-web/packages/angular/package.json
  sdk/runanywhere-web/packages/angular/src/index.ts
  sdk/runanywhere-web/packages/core/package.json
  sdk/runanywhere-web/packages/llm/package.json
  sdk/runanywhere-web/packages/llm/tsconfig.json
  sdk/runanywhere-web/packages/react/package.json
  sdk/runanywhere-web/packages/react/src/components/VoiceChat.tsx
  sdk/runanywhere-web/packages/react/src/components/VoicePipelineButton.tsx
  sdk/runanywhere-web/packages/react/src/hooks/useVoicePipeline.ts
  sdk/runanywhere-web/packages/react/src/index.ts
  sdk/runanywhere-web/packages/react/tsconfig.json
  sdk/runanywhere-web/packages/react/vite.config.ts
  sdk/runanywhere-web/packages/transcription/package.json
  sdk/runanywhere-web/packages/transcription/tsconfig.json
  sdk/runanywhere-web/packages/tts/src/services/tts-service.ts
  sdk/runanywhere-web/packages/tts/tsconfig.json
  sdk/runanywhere-web/packages/voice/package.json
  sdk/runanywhere-web/packages/voice/tsconfig.json
  sdk/runanywhere-web/packages/vue/package.json
  sdk/runanywhere-web/packages/vue/src/index.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  thoughts/shared/plans/web_voice_pipeline_phase3.md
Due: none

Update pnpm-lock.yaml and TTS service implementation
  sdk/runanywhere-web/packages/tts/src/services/tts-service.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  thoughts/shared/plans/web_voice_pipeline_phase3.md
Due: none

adding the next phase plan
  thoughts/shared/plans/web_voice_pipeline.md
  thoughts/shared/plans/web_voice_pipeline_phase4.md
Due: none

Enhance RunAnywhere Web Voice Pipeline with new packages and optimizations
  sdk/runanywhere-web/package.json
  sdk/runanywhere-web/packages/cache/package.json
  sdk/runanywhere-web/packages/cache/src/cache/model-cache.ts
  sdk/runanywhere-web/packages/cache/src/cache/response-cache.ts
  sdk/runanywhere-web/packages/cache/src/index.ts
  sdk/runanywhere-web/packages/cache/tsconfig.json
  sdk/runanywhere-web/packages/cache/vite.config.ts
  sdk/runanywhere-web/packages/llm/tsconfig.json
  sdk/runanywhere-web/packages/llm/vite.config.ts
  sdk/runanywhere-web/packages/monitoring/package.json
  sdk/runanywhere-web/packages/monitoring/src/errors/error-tracker.ts
  sdk/runanywhere-web/packages/monitoring/src/index.ts
  sdk/runanywhere-web/packages/monitoring/src/monitoring/performance-monitor.ts
  sdk/runanywhere-web/packages/monitoring/tsconfig.json
  sdk/runanywhere-web/packages/monitoring/vite.config.ts
  sdk/runanywhere-web/packages/optimization/package.json
  sdk/runanywhere-web/packages/optimization/src/analysis/bundle-analyzer.ts
  sdk/runanywhere-web/packages/optimization/src/bundling/optimizer.ts
  sdk/runanywhere-web/packages/optimization/src/index.ts
  sdk/runanywhere-web/packages/optimization/tsconfig.json
  sdk/runanywhere-web/packages/optimization/vite.config.ts
  sdk/runanywhere-web/packages/react/package.json
  sdk/runanywhere-web/packages/react/tsconfig.json
  sdk/runanywhere-web/packages/transcription/tsconfig.json
  sdk/runanywhere-web/packages/transcription/vite.config.ts
  sdk/runanywhere-web/packages/tts/tsconfig.json
  sdk/runanywhere-web/packages/tts/vite.config.ts
  sdk/runanywhere-web/packages/voice/tsconfig.json
  sdk/runanywhere-web/packages/workers/package.json
  sdk/runanywhere-web/packages/workers/src/index.ts
  sdk/runanywhere-web/packages/workers/src/managers/worker-manager.ts
  sdk/runanywhere-web/packages/workers/src/workers/audio-processor.worker.ts
  sdk/runanywhere-web/packages/workers/src/workers/llm-processor.worker.ts
  sdk/runanywhere-web/packages/workers/tsconfig.json
  sdk/runanywhere-web/packages/workers/vite.config.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  sdk/runanywhere-web/scripts/build-all.sh
  thoughts/shared/plans/web_voice_pipeline.md
  thoughts/shared/plans/web_voice_pipeline_phase4_progress.md
Due: none

updating docs
  thoughts/shared/plans/web_voice_pipeline.md
  thoughts/shared/plans/web_voice_pipeline_phase4.md
  thoughts/shared/plans/web_voice_pipeline_phase4_progress.md
  thoughts/shared/plans/web_voice_pipeline_phase5.md
Due: none

Implement unified analytics architecture across multiple services
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/Generation/GenerationAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/Monitoring/MonitoringAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/STT/STTAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/Voice/VoiceAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/GenerationResultAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/GenerationService+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Extensions/StreamingService+Analytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Models/Generation.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Models/GenerationPerformance.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Models/GenerationSession.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Models/LiveGenerationMetrics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Services/GenerationAnalyticsServiceImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Services/Pulse/PulsePerformanceLogger.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/GenerationAnalytics/Tracking/PerformanceTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceCapabilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Analytics/UnifiedAnalytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/GenerationAnalytics/GenerationAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Protocols/GenerationAnalyticsRepository.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Repositories/GenerationAnalyticsRepositoryImpl.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/GenerationRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Data/Storage/GRDB/Models/GenerationSessionRecord.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Analytics/AnalyticsQueueManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  thoughts/shared/plans/healthcare_stt_analytics_implementation.md
Due: ios-sdk-swiftlint

Refactor Voice Assistant and TTS Integration
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Voice/VoiceAssistantViewModel.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Bridge/SherpaONNXWrapper.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Models/SherpaONNXDownloadStrategy.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Internal/Models/SherpaONNXModelManager.swift
  sdk/runanywhere-swift/Modules/SherpaONNXTTS/Sources/SherpaONNXTTS/Public/SherpaONNXTTSService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceCapabilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/ModuleSupport/RunAnywhereSDK+ModuleUtilities.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Extensions/RunAnywhereSDK+Voice.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Update RunAnywhere Web SDK with Angular and Vue framework integrations
  sdk/runanywhere-web/README.md
  sdk/runanywhere-web/examples/README.md
  sdk/runanywhere-web/examples/angular-example/package.json
  sdk/runanywhere-web/examples/angular-example/src/app/app.component.css
  sdk/runanywhere-web/examples/angular-example/src/app/app.component.ts
  sdk/runanywhere-web/examples/angular-example/src/index.html
  sdk/runanywhere-web/examples/angular-example/src/main.ts
  sdk/runanywhere-web/examples/vue-example/index.html
  sdk/runanywhere-web/examples/vue-example/package.json
  sdk/runanywhere-web/examples/vue-example/src/App.vue
  sdk/runanywhere-web/examples/vue-example/src/main.ts
  sdk/runanywhere-web/examples/vue-example/vite.config.ts
  sdk/runanywhere-web/packages/angular/package.json
  sdk/runanywhere-web/packages/angular/src/components/voice-chat.component.ts
  sdk/runanywhere-web/packages/angular/src/components/voice-pipeline-button.component.ts
  sdk/runanywhere-web/packages/angular/src/index.ts
  sdk/runanywhere-web/packages/angular/src/lib/runanywhere-voice.module.ts
  sdk/runanywhere-web/packages/angular/src/services/voice-pipeline.service.ts
  sdk/runanywhere-web/packages/angular/src/types/index.ts
  sdk/runanywhere-web/packages/angular/tsconfig.json
  sdk/runanywhere-web/packages/angular/vite.config.ts
  sdk/runanywhere-web/packages/vue/package.json
  sdk/runanywhere-web/packages/vue/packages/angular/package.json
  sdk/runanywhere-web/packages/vue/packages/angular/src/index.ts
  sdk/runanywhere-web/packages/vue/src/components/VoiceChat.vue
  sdk/runanywhere-web/packages/vue/src/components/VoicePipelineButton.vue
  sdk/runanywhere-web/packages/vue/src/composables/useVoicePipeline.ts
  sdk/runanywhere-web/packages/vue/src/index.ts
  sdk/runanywhere-web/packages/vue/src/types/index.ts
  sdk/runanywhere-web/packages/vue/src/vue-shims.d.ts
  sdk/runanywhere-web/packages/vue/tsconfig.json
  sdk/runanywhere-web/packages/vue/vite.config.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  sdk/runanywhere-web/scripts/build-all.sh
Due: none

Enhance analytics services with new metrics and logging capabilities
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/STT/STTAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/Voice/VoiceAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Models/GenerationPerformance.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Monitoring/Services/PulsePerformanceLogger.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceCapabilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/DependencyInjection/ServiceContainer.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Generation.swift
  sdk/runanywhere-swift/docs/ARCHITECTURE_V2.md
  thoughts/shared/plans/unified_analytics_architecture.md
Due: ios-sdk-swiftlint

Add SherpaONNX TTS Models and Update Framework Integration
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Models/ModelListViewModel.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Compatibility/Services/FrameworkRecommender.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Framework/FrameworkModality.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Models/Framework/LLMFramework.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

updating plans
  thoughts/shared/plans/web_voice_pipeline.md
  thoughts/shared/plans/web_voice_pipeline_phase5.md
Due: none

adding docs
  examples/web/angular-demo/README.md
  examples/web/react-demo/.eslintrc.cjs
  examples/web/react-demo/README.md
  examples/web/vue-demo/README.md
  examples/web/vue-demo/src/App.vue
Due: none

Add local analytics logging feature and keychain integration
  examples/ios/RunAnywhereAI/RunAnywhereAI/Features/Settings/SimplifiedSettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Utilities/KeychainHelper.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Analytics/AnalyticsQueueManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Models/AnalyticsLoggingConfig.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Logging/Models/LoggingConfiguration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Configuration.swift
Due: ios-sdk-swiftlint, ios-app-swiftlint

Integrate new components and services into React demo application
  examples/web/react-demo/README.md
  examples/web/react-demo/src/App.tsx
  examples/web/react-demo/src/components/Common/AudioVisualizer.tsx
  examples/web/react-demo/src/components/Common/ErrorBoundary.tsx
  examples/web/react-demo/src/components/Common/LoadingSpinner.tsx
  examples/web/react-demo/src/components/Common/StatusIndicator.tsx
  examples/web/react-demo/src/components/VoiceAssistant/VoiceAssistant.tsx
  examples/web/react-demo/src/hooks/useVoiceDemo.ts
  examples/web/react-demo/src/services/demoConfig.ts
  examples/web/react-demo/src/services/metricsService.ts
  examples/web/react-demo/src/services/storageService.ts
  examples/web/react-demo/src/utils/constants.ts
  examples/web/react-demo/src/utils/formatters.ts
  thoughts/shared/plans/web_voice_pipeline.md
  thoughts/shared/plans/web_voice_pipeline_phase6.md
  thoughts/shared/plans/web_voice_pipeline_phase7.md
Due: none

Refactor React demo application by removing unused components and optimizing code
  examples/web/react-demo/src/App.tsx
  examples/web/react-demo/src/components/Common/StatusIndicator.tsx
  examples/web/react-demo/src/components/Dashboard/MetricsDashboard.tsx
  examples/web/react-demo/src/components/Settings/SettingsPanel.tsx
  examples/web/react-demo/src/components/VoiceAssistant/VoiceAssistant.tsx
  examples/web/react-demo/src/hooks/useVoiceDemo.ts
  examples/web/react-demo/src/services/metricsService.ts
  examples/web/react-demo/src/types/demo.types.ts
  examples/web/react-demo/src/types/modules.d.ts
  examples/web/react-demo/src/utils/constants.ts
  sdk/runanywhere-web/packages/react/package.json
  thoughts/shared/plans/web_voice_pipeline.md
  thoughts/shared/plans/web_voice_pipeline_phase7.md
Due: none

Refactor analytics event structure for improved clarity and scalability
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/Generation/GenerationAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/Monitoring/MonitoringAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/STT/STTAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Analytics/Voice/VoiceAnalyticsService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Handlers/STTHandler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoiceCapabilityService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Capabilities/Voice/Services/VoicePipelineManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/Protocols/Analytics/UnifiedAnalytics.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Analytics/AnalyticsQueueManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Analytics/Models/AnalyticsContext.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Foundation/Analytics/Models/AnalyticsEventData.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK+Generation.swift
Due: ios-sdk-swiftlint

Enhance RunAnywhere Web SDK with new adapter implementations and model management features
  sdk/runanywhere-web/packages/core/package.json
  sdk/runanywhere-web/packages/core/src/adapters/base.adapter.ts
  sdk/runanywhere-web/packages/core/src/adapters/index.ts
  sdk/runanywhere-web/packages/core/src/adapters/llm/openai-llm.adapter.ts
  sdk/runanywhere-web/packages/core/src/adapters/stt/whisper-stt.adapter.ts
  sdk/runanywhere-web/packages/core/src/adapters/test-integration.ts
  sdk/runanywhere-web/packages/core/src/adapters/tts/webspeech-tts.adapter.ts
  sdk/runanywhere-web/packages/core/src/adapters/vad/silero-vad.adapter.ts
  sdk/runanywhere-web/packages/core/src/index.ts
  sdk/runanywhere-web/packages/core/src/interfaces/index.ts
  sdk/runanywhere-web/packages/core/src/interfaces/llm.interface.ts
  sdk/runanywhere-web/packages/core/src/interfaces/stt.interface.ts
  sdk/runanywhere-web/packages/core/src/interfaces/tts.interface.ts
  sdk/runanywhere-web/packages/core/src/interfaces/vad.interface.ts
  sdk/runanywhere-web/packages/core/src/models/index.ts
  sdk/runanywhere-web/packages/core/src/models/model-cache.ts
  sdk/runanywhere-web/packages/core/src/models/model-loader.ts
  sdk/runanywhere-web/packages/core/src/models/model-registry.ts
  sdk/runanywhere-web/packages/core/src/models/test-model-management.ts
  sdk/runanywhere-web/packages/core/src/pipeline/adaptive-pipeline-manager.ts
  sdk/runanywhere-web/packages/core/src/pipeline/index.ts
  sdk/runanywhere-web/packages/core/src/registry/index.ts
  sdk/runanywhere-web/packages/core/src/registry/service-registry.ts
  sdk/runanywhere-web/packages/llm/tsconfig.json
  sdk/runanywhere-web/packages/transcription/tsconfig.json
  sdk/runanywhere-web/packages/tts/tsconfig.json
  sdk/runanywhere-web/packages/voice/tsconfig.json
  sdk/runanywhere-web/pnpm-lock.yaml
  thoughts/shared/plans/web_sdk_architecture.md
  thoughts/shared/plans/web_sdk_modularization_execution_plan.md
  thoughts/shared/plans/web_sdk_modularization_phase1_implementation.md
  thoughts/shared/plans/web_sdk_modularization_phase2_implementation.md
  thoughts/shared/plans/web_sdk_modularization_phase3_implementation.md
  thoughts/shared/plans/web_sdk_usage_guide.md
Due: none

Refactor and modularize RunAnywhere Web SDK with new adapter packages
  examples/web/react-demo/package.json
  sdk/runanywhere-web/packages/core/src/adapters/index.ts
  sdk/runanywhere-web/packages/llm-openai/package.json
  sdk/runanywhere-web/packages/llm-openai/src/index.ts
  sdk/runanywhere-web/packages/llm-openai/tsconfig.json
  sdk/runanywhere-web/packages/llm-openai/vite.config.ts
  sdk/runanywhere-web/packages/react/package.json
  sdk/runanywhere-web/packages/react/src/hooks/useVoicePipeline.ts
  sdk/runanywhere-web/packages/react/src/index.ts
  sdk/runanywhere-web/packages/stt-whisper/package.json
  sdk/runanywhere-web/packages/stt-whisper/src/index.ts
  sdk/runanywhere-web/packages/stt-whisper/tsconfig.json
  sdk/runanywhere-web/packages/stt-whisper/vite.config.ts
  sdk/runanywhere-web/packages/tts-webspeech/package.json
  sdk/runanywhere-web/packages/tts-webspeech/src/index.ts
  sdk/runanywhere-web/packages/tts-webspeech/tsconfig.json
  sdk/runanywhere-web/packages/tts-webspeech/vite.config.ts
  sdk/runanywhere-web/packages/vad-silero/package.json
  sdk/runanywhere-web/packages/vad-silero/src/index.ts
  sdk/runanywhere-web/packages/vad-silero/tsconfig.json
  sdk/runanywhere-web/packages/vad-silero/vite.config.ts
  sdk/runanywhere-web/packages/voice/package.json
  sdk/runanywhere-web/pnpm-lock.yaml
  sdk/runanywhere-web/scripts/build-all.sh
  thoughts/shared/plans/web_sdk_modularization_execution_plan.md
  thoughts/shared/plans/web_sdk_modularization_phase4_implementation.md
Due: none

updating the build scripts
  sdk/runanywhere-web/scripts/build-all.sh
  sdk/runanywhere-web/scripts/build.sh
Due: none

fix readme
  README.md
Due: none

Implement initial setup for RunAnywhere Web SDK with Next.js
  examples/web/react-demo/src/App.tsx
  examples/web/react-demo/src/components/Settings/SettingsPanel.tsx
  examples/web/react-demo/src/hooks/useVoiceDemo.ts
  examples/web/react-demo/src/types/demo.types.ts
  examples/web/react-demo/vite.config.ts.timestamp-1756067366451-aaab133fdac6f.mjs
  examples/web/runanywhere-web/.gitignore
  examples/web/runanywhere-web/README.md
  examples/web/runanywhere-web/app/favicon.ico
  examples/web/runanywhere-web/app/globals.css
  examples/web/runanywhere-web/app/layout.tsx
  examples/web/runanywhere-web/app/page.tsx
  examples/web/runanywhere-web/components.json
  examples/web/runanywhere-web/components/ui/badge.tsx
  examples/web/runanywhere-web/components/ui/button.tsx
  examples/web/runanywhere-web/components/ui/card.tsx
  examples/web/runanywhere-web/components/ui/input.tsx
  examples/web/runanywhere-web/components/ui/label.tsx
  examples/web/runanywhere-web/components/ui/slider.tsx
  examples/web/runanywhere-web/components/ui/switch.tsx
  examples/web/runanywhere-web/components/ui/tabs.tsx
  examples/web/runanywhere-web/eslint.config.mjs
  examples/web/runanywhere-web/hooks/useVoiceAssistant.ts
  examples/web/runanywhere-web/lib/utils.ts
  examples/web/runanywhere-web/next.config.ts
  examples/web/runanywhere-web/package-lock.json
  examples/web/runanywhere-web/package.json
  examples/web/runanywhere-web/postcss.config.js
  examples/web/runanywhere-web/postcss.config.mjs
  examples/web/runanywhere-web/public/file.svg
  examples/web/runanywhere-web/public/globe.svg
  examples/web/runanywhere-web/public/next.svg
  examples/web/runanywhere-web/public/vercel.svg
  examples/web/runanywhere-web/public/window.svg
  examples/web/runanywhere-web/tailwind.config.ts
  examples/web/runanywhere-web/tsconfig.json
  sdk/runanywhere-web/packages/react/src/hooks/useVoicePipeline.ts
  sdk/runanywhere-web/pnpm-lock.yaml
  sdk/runanywhere-web/scripts/build.sh
Due: none

Refactor Next.js configuration and enhance SDK integration
  examples/web/runanywhere-web/app/page-old.tsx
  examples/web/runanywhere-web/hooks/useSDKPipeline.ts
  examples/web/runanywhere-web/next.config.ts
  examples/web/runanywhere-web/package-lock.json
  examples/web/runanywhere-web/package.json
  sdk/runanywhere-web/pnpm-lock.yaml
Due: none

Refactor and enhance RunAnywhere Web SDK with new features and optimizations
  examples/web/runanywhere-web/app/page-old.tsx
  examples/web/runanywhere-web/app/page.tsx
  examples/web/runanywhere-web/app/test-vad/page.tsx
  examples/web/runanywhere-web/hooks/useLLM.ts
  examples/web/runanywhere-web/hooks/useSDKPipeline.ts
  examples/web/runanywhere-web/hooks/useSTT.ts
  examples/web/runanywhere-web/hooks/useTTS.ts
  examples/web/runanywhere-web/hooks/useVADAdapter.ts
  examples/web/runanywhere-web/hooks/useVoiceAssistant.ts
  examples/web/runanywhere-web/hooks/useVoicePipeline.ts
  examples/web/runanywhere-web/next.config.ts
  examples/web/runanywhere-web/package-lock.json
  sdk/runanywhere-web/packages/core/package.json
  sdk/runanywhere-web/packages/core/src/adapters/index.ts
  sdk/runanywhere-web/packages/core/src/adapters/llm/openai-llm.adapter.ts
  sdk/runanywhere-web/packages/core/src/adapters/stt/whisper-stt.adapter.ts
  sdk/runanywhere-web/packages/core/src/adapters/test-integration.ts
  sdk/runanywhere-web/packages/core/src/adapters/tts/webspeech-tts.adapter.ts
  sdk/runanywhere-web/packages/core/src/adapters/vad/silero-vad.adapter.ts
  sdk/runanywhere-web/packages/stt-whisper/package.json
  sdk/runanywhere-web/packages/stt-whisper/src/index.ts
  sdk/runanywhere-web/packages/stt-whisper/src/worker.ts
  sdk/runanywhere-web/packages/stt-whisper/tsconfig.json
  sdk/runanywhere-web/packages/vad-silero/README.md
  sdk/runanywhere-web/packages/vad-silero/package.json
  sdk/runanywhere-web/packages/vad-silero/src/index.ts
  sdk/runanywhere-web/packages/vad-silero/vite.config.ts
  sdk/runanywhere-web/pnpm-lock.yaml
Due: none
